{% extends 'base.html.twig' %}

{% block body %}
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
          {{ message }}
        </div>
      {% endfor %}
      {% include 'includes/attendees.html.twig' with {'attendees': attendees} only %}
    </div>
  </div>
{% endblock %}

